.countdown-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.countdown-element {
    font-family: 'Arial Black';
    margin-left: 0.8em;
    margin-right: 0.8em;
    font-size: 2.5em;
    text-decoration-style: none;
}

.countdown-element-expl {
    text-decoration: none;
}

.countdown-image {
    width: 15em;
    height: auto;
}

.countdown {
    border-color: #108d00b9;
    background-color: rgba(85, 248, 53, 0.226);
    border-radius: 0.3em;
    border-width: 0.2em;
    border-style: solid;
    width: max-content;
    text-align: center;

    padding: 0.3em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;

    animation: coundown-pulse 2s infinite;

    text-decoration: none;
}

.countdown_playing_text {
    font-size: 3.5em;
    
    animation: playing-pulse 1.5s infinite;

    display: none;

    margin: 0.1em;
    margin-left: 2em;
    margin-right: 2em;
}

@keyframes coundown-pulse {
    0% {
        border-color: #259c0d;
        background-color: rgba(13, 240, 100, 0.226);
    }
    50% {
        border-color: #48d371;
        background-color: rgba(10, 161, 68, 0.226);
    }
    100% {
        border-color: #259c0d;
        background-color: rgba(13, 240, 100, 0.226);
    }
  }
  
@keyframes playing-pulse {
    0% {
        color: white;
    }
    50% {
        color: #f75959;
    }
    100% {
        color: white;
    }
  }
  