/* https://river.me/blog/tournament-brackets/ */

.round1 { grid-column: 1; }
.round2 { grid-column: 3; }
.round3 { grid-column: 5; }

.bracket-line.round0 { grid-column: 0; width: ; }
.bracket-line.round1 { grid-column: 2; }
.bracket-line.round2 { grid-column: 4; }

.bracket-grid {
	display: grid;
	overflow: auto;
	grid-auto-flow: column;
	line-height: 1;
	max-width: 95%;
    margin-left: auto;
    margin-right: auto;
	padding: 0.5em;
    border: 0.3em solid #43435777;
}


@media (min-width: 1400px) {
    .bracket-grid { max-width: 60%;}
}


.bracket-line,
.bracket-spacer {
	text-align: center;
	height: 100%;
}

.bracket-grid-header,
.bracket-team {
	grid-row: span 1;
	display: table;
    border: 0.3em solid #43435777;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.bracket-header-content,
.bracket-team-name,
.bracket-team-points {
	display: table-cell;
	vertical-align: middle;
    padding: 0.3em;
    background-color: #43435777;
}

.bracket-grid-header,
.bracket-team {
	border: 0.15em solid #393944;
}

.bracket-grid-header {
    margin-bottom: 1em;
}

.bracket-grid-header {
	border: 0.35em solid #393944;
	background: #393944;
}

.bracket-winner {
	font-weight: bold;
    background-color: var(--win_background);
}
.bracket-winner:hover { background-color: var(--win_background_hover); }

.bracket-loser { background-color: var(--loss_background); }
.bracket-loser:hover { background-color: var(--loss_background_hover); }

.bracket-score-winner { font-weight:bold; }


.bracket-team-name {
	padding: 0.4em;
	min-width: 4em;
	max-width: 0;
}
.bracket-team-points {
	background: #393944;
	border-left: 0.3em solid #393944;
}

.bracket-line, .bracket-spacer {
	--bracket-line-color: #bfbfd1;
}

.bracket-line::after, .bracket-line::before, .bracket-spacer.horizontal::before {
    width: calc(50% + 2px);
    height: calc(100% + 2px);
    box-sizing: border-box;
    display: inline-block;
    margin: -1px;
    border: 0 solid #efeff0;
}

.bracket-line.z-down::before {
    content: "";
    border-width: 2px 2px 0 0;
    border-bottom: 2px solid transparent;
    border-radius: 0 2px 0 0;
}
.bracket-line.z-down::after {
    content: "";
    border-width: 0 0 2px 2px;
    border-top: 2px solid transparent;
    border-radius: 0 0 0 2px;
}

.bracket-line.z-up::before {
	content: "";
	border-width: 0 2px 2px 0;
	border-top: 2px solid transparent;
	border-radius: 0 0 2px 0;
}

.bracket-line.z-up::after {
	content: "";
	border-width: 2px 0 0 2px;
	border-bottom: 2px solid transparent;
	border-radius: 2px 0 0 0;
}



.bracket-line.z-down::before {
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.bracket-line.z-down::after {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 2px;
}

.bracket-line.z-up::before {
	content: "";
	border-width: 0 2px 2px 0;
	border-top: 2px solid transparent;
	border-radius: 0 0 2px 0;
}
.bracket-line.z-up::after {
	content: "";
	border-width: 2px 0 0 2px;
	border-bottom: 2px solid transparent;
	border-radius: 2px 0 0 0;
}

.bracket-line.l-down::after {
    content: "";
    border-width: 0 0 2px 2px;
    border-radius: 0 0 0 2px;
    float: right;
}

.round {
	display: table-cell;
	vertical-align: middle;
    padding: 0.3em;
	max-width: 0.015em;
	border-left: 0.2em solid #393944;
	text-align: center;
}

.round-win { background-color: var(--win_background); }
.round-draw { background-color: var(--draw_background); }
.round-loss { background-color: var(--loss_background); }
.round-none { background-color: #3939445d; }

.round-win:hover { background-color: var(--win_background_hover); }
.round-draw:hover { background-color: var(--draw_background_hover); }
.round-loss:hover { background-color: var(--loss_background_hover); }
