body {
    background-image:
        linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
        repeating-linear-gradient(45deg, #454661 25%, transparent 25%, transparent 75%, #454661 75%, #454661), 
        repeating-linear-gradient(45deg, #454661 25%, #2f3044 25%, #2f3044 75%, #454661 75%, #454661);

    background-position: 0 0, 90px 90px;
    background-size: 180px 180px;
}

.content {
    color: rgb(199, 199, 199);
    text-shadow: 0 0 2px #000000;
}

.titleGroup {
    vertical-align: auto;
}

.centerText {
    text-align: center;
}

.title {
    color: azure;
    font-family: 'Baskerville Old Face';
    font-size: 4em;
}

.title-lines{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    position: relative;
    /*  new lines  */
    max-width: 500px;
    text-align: center;
  }

  .title-lines:before{
    content:" ";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    left: 0;
    background: rgb(218, 218, 218);
  }
  .title-lines:after{
    content:" ";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    right: 0;
    background: rgb(218, 218, 218);
  }

.title img {
    height: 1em;
    width: auto;
}

.textLeftIcon {
    float: left;
}

.textRightIcon {
    float: right;
}

.clasifTable {

}

.toRight {
    text-align: right;
}

.tables {
    margin-left: auto;
    margin-right: auto;
    background-color: #43435777;
    border: 1px solid #2f3044;
    border-collapse: collapse;
    padding: 15px;
    max-width: 90%;
    color: rgb(199, 199, 199);
    th, td {
        padding: 0.3em;
        padding-inline: 0.6em;
        text-align: left;
    }
}

.eloTable {
    
}

.explanationBox {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #2f3044bd;
    border:1px solid #2f3044;
    padding: 0.5em;
}

.eloTable tr:nth-child(2){
    background: #f0e10e77;
  }
  
.eloTable tr:nth-child(3){
    background: #b6b5b577;
  }
  
.eloTable tr:nth-child(4){
    background: #ac631177;
  }
  
.eloTable td:nth-child(2) {
  text-align: right;
}
.eloTable td:nth-child(3) {
  text-align: right;
}
.eloTable td:nth-child(4) {
  text-align: right;
}
.eloTable td:nth-child(5) {
  text-align: right;
}
.eloTable td:nth-child(6) {
  text-align: right;
}

.statsTable td:nth-child(2) {
  text-align: right;
}

.clasifTable tr:nth-child(2){
    background: #69ca7177;
  }
  
.clasifTable tr:nth-child(3){
    background: #69ca7177;
  }
  
.clasifTable tr:nth-child(4){
    background: #69ca7177;
  }
  
.clasifTable tr:nth-child(5){
    background: #69ca7177;
  }

  .clasifTable tr:nth-child(6){
    background:rgba(247, 37, 37, 0.329);
  }
  .clasifTable tr:nth-child(7){
    background:rgba(247, 37, 37, 0.329);
  }
  
.historyTable td:nth-child(3) {
  text-align: right;
}
.historyTable td:nth-child(4) {
  text-align: right;
}


.footer {
    background-color: #1d1e2c;
    color:rgb(199, 199, 199);
    padding: 0.5em;
    margin: 0;
    margin-top: 3em;

    left: 0;
    right: 0;
}
.footertitle {
    font-size: 1em;
    vertical-align: auto;
}
.lwmimage {
    left: auto;
    float: left;
}

.matchwin {
    background: #69ca7177;
}
.matchdraw {
    background: #98a19877;
}
.matchloss {
    background:rgba(247, 37, 37, 0.329);
}

.cwicon {
    background: url(assets/ChessWachinMini.png) no-repeat;
    float: left;
    width: 2rem;
    height: 2rem;
}

.topbuttoncw {
  border: solid 2px #14a107ea;
  background: #0e5a071e;
  border-radius: 5px;
  transition-duration: 0.2s;
  color: rgb(199, 199, 199);
  font-size: 1em;
  padding: 0.5em;
  text-decoration: none;
  width: fit-content;
  margin: 0.5em;

}
.topbuttoncw img {
  height: 1em;
  width: auto;
  vertical-align: text-bottom;
}
.topbuttoncw:hover {
  background-color: #107907a6;
}

.topbuttonbcw {
  border: solid 2px #e0dd0bea;
  background: #0e5a071e;
  border-radius: 5px;
  transition-duration: 0.2s;
  color: rgb(199, 199, 199);
  font-size: 1em;
  padding: 0.5em;
  text-decoration: none;
  width: fit-content;
  margin: 0.5em;
}
.topbuttonbcw img {
  height: 1em;
  width: auto;
  vertical-align: text-bottom;
}
.topbuttonbcw:hover {
  background-color: #c9a60b9d;
}


.playingButton {
  border: solid 2px #e0dd0bea;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;

  animation: pulse 2s infinite;
}

.playingTitle {
  animation: pulse-title 1s infinite;
}

@keyframes pulse {
  0% {
    background-color: #c9a60b9d;
    border: solid 2px #e0dd0bea;
  }
  50% {
    background-color: #ffd415bb;
    border: solid 2px #cf9b0dea;
  }
  100% {
    background-color: #c9a60b9d;
    border: solid 2px #e0dd0bea;
  }
}

@keyframes pulse-title {
  0% {
    color: rgb(199, 199, 199);
  }
  50% {
    color: #ecaaa1;
  }
  100% {
    color:rgb(199, 199, 199);
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}